<div class="card">

  <p>
    Wish: {{wish.text || wish}}
  </p>

  <p *ngIf="wish.example">
    Example: {{wish.example}}
  </p>

  <p *ngIf="wish.example">
    Comments: {{wish.example}}
  </p>

      <div class="btn-group btn-group-toggle">
        <label     *ngIf="wish.ifYes"
                   class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="isExpanded">Yes
        </label>
      </div>

      <div
        *ngIf="isExpanded"
      >
        <div
          style="margin-left: 3rem"
          *ngFor="let child of wish.ifYes"
        >
          <app-hint
            [wish]="child"
            [isExpanded]="isExpanded"
          ></app-hint>

        </div>

      </div>

</div>


