<div class="card">

  <h5>
    Wish: {{wish.text || wish}}
  </h5>

  <p *ngIf="wish.example">
    Example: {{wish.example}}
  </p>

  <ol *ngIf="wish.benefits">
    Benefits:
    <li *ngFor="let benefit of wish.benefits">
      {{benefit}}
    </li>
  </ol>


  <!--  <app-hint-benefits-->
<!--    -->
<!--  ></app-hint-benefits>-->

  <p *ngIf="wish.comments">
    <!--Comments: -->{{wish.comments}}
  </p>

      <div class="btn-group btn-group-toggle">
        <label     *ngIf="wish.ifYes"
                   class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="isExpanded">Yes
        </label>
      </div>

      <div
        *ngIf="isExpanded"
      >
        <div
          style="margin-left: 3rem"
          *ngFor="let child of wish.ifYes"
        >
          <app-hint
            [wish]="child"
            [isExpanded]="isExpanded"
          ></app-hint>

        </div>

      </div>

  <div
    *ngIf="wish.source; let source"
  >
    Source: {{source}}
  </div>

</div>


