<div [ngClass]="{'card': true, matchesFilter: matchesFilter()}"
     style="padding: 5px; margin: 5px"
>
  <div
    [ngClass]="{'onlyVisibleToShowChild': isOnlyVisibleToShowChild }"
  >
    <h5>
      <!--Wish: --> {{wish.title || wish.text || wish}}
    </h5>
    <p>{{wish.subTitle}}</p>

    <p *ngIf="wish.example">
      Example: {{wish.example}}
    </p>

    <ol *ngIf="wish.benefits">
      Benefits:
      <li *ngFor="let benefit of wish.benefits">
        {{benefit}}
      </li>
    </ol>

    <!--  <app-hint-benefits-->
    <!--    -->
    <!--  ></app-hint-benefits>-->

    <p *ngIf="wish.comments">
      <!--Comments: -->{{wish.comments}}
    </p>

    <div
      *ngIf="wish.source; let source"
    >
      Source: {{source}}
    </div>
    <div *ngIf="wish.sources; let sources">
      Sources:
      <ul>
        <li *ngFor="let source of sources">{{source.title || source.id }}</li>
      </ul>
    </div>
  </div>

  <div class="btn-group btn-group-toggle" style="flex-grow: 0">
    <label  *ngIf="wish.ifYes"
            class="btn-dark" ngbButtonLabel>
      <input type="checkbox" ngbButton [(ngModel)]="isExpanded">How to improve?<!--Yes-->
    </label>
  </div>

  <div
    *ngIf="isExpanded && wish.ifYes ?. length"
  >
    This will help You:
    <div
      class="hint-children"
      *ngFor="let childWish of wish.ifYes"
    >
      <app-hint
        [hidden]="! (isVisibleViaFilter(childWish) || ancestorMatchesFilter || matchesFilter())"
        [wish]="childWish"
        [ancestorMatchesFilter]="matchesFilter() || ancestorMatchesFilter"
        [filter]="filter"
        [isExpanded]="isExpanded"
      ></app-hint>
    </div>
  </div>


</div>


