<!--<app-rationale-->
<!--&gt;</app-rationale>-->
<!--<input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>-->
<label for="askText">Describe your problem or wish, to get hints:</label>
<input
  (change)="onChangeFilterText($event)" id="askText" type="text"
  [(ngModel)]="textFieldDummy"
  (ngModelChange)="onChangeFilterText($event)"
  class="form-control"
/>

<div class="btn-group btn-group-toggle"
     style="margin: 5px;"
>
  <label class="btn-dark" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="isExpandAll">Expand All
  </label>
</div>

<ng-container *ngFor="let problem of (filteredProblems | slice:0:100)">

  <app-hint
    [hidden]="! isVisibleViaFilter(problem)"
    [filter]="textField"
    [wish]="problem"
    [isExpandedManually]="isExpandAll"
  ></app-hint>

</ng-container>
